<% if (success.length || error.length) { %>
<div id="flash">
    <% if (success && success.length) { %>
    <div class="flash-success">
        <div class="flash-cross cross-success">
            <span class="flash-cross-bar"></span>
            <span class="flash-cross-bar"></span>
        </div>
        <p><%= success %></p>
    </div>
    <% } %>
    <% if (error && error.length) { %>
    <div class="flash-error">
        <div class="flash-cross cross-error">
            <span class="flash-cross-bar"></span>
            <span class="flash-cross-bar"></span>
        </div>
        <p><%= error %></p>
    </div>
    <% } %>
</div>
<% } %>