<section id="footer">
    <a id="website-link" href="https://williamwatson.dev">williamwatson.dev</a>
    <div id="social">
        <a href="https://github.com/willswats"><img src="/imgs/github.png" alt="github"></a>
        <a href="https://www.linkedin.com/in/willswats/"><img src="/imgs/linkedin.png" alt="linkedin"></a>
        <a href="https://twitter.com/willswats"><img src="/imgs/twitter.png" alt="twitter"></a>
    </div>
</section>