<nav id="nav">
    <div id="nav-logo">
        <a href="/">To Do</a>
    </div>
    <div id="nav-menu">
        <a href="/">Home</a>
        <a href="/todo">To Do List</a>
        <% if (!currentUser) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
        <a id="logout-anchor" style="display:none;"></a>
        <form id="delete-account-form" style="display:none;"></form>
        <% } %>
        <% if (currentUser) { %>
        <a id="logout-anchor" href="/logout">Logout</a>
        <form id="delete-account-form" action="/deleteaccount/?_method=DELETE" method="POST">
            <button id="delete-account-btn">Delete Account</button>
        </form>
        <% } %>
    </div>
    <div id="mobile-menu">
        <span class="mobile-menu-bar"></span>
        <span class="mobile-menu-bar"></span>
        <span class="mobile-menu-bar"></span>
    </div>
</nav>