<nav id="nav">
    <div id="nav-logo">
        <a href="/">To Do</a>
    </div>
    <div id="nav-menu">
        <a href="/">Home</a>
        <a href="/todo">To Do List</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
    <div id="mobile-menu">
        <span class="mobile-menu-bar"></span>
        <span class="mobile-menu-bar"></span>
        <span class="mobile-menu-bar"></span>
    </div>
</nav>