<nav id="nav">
    <div id="nav-logo">
        <a href="/">
            <h1>To Do</h1>
        </a>
    </div>
    <div id="nav-items">
        <a href="/">Home</a>
        <a href="/todo">To Do List</a>
    </div>
</nav>