<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="icon" href="data:,">
    <title>To Do App</title>
</head>

<body>
    <div id="app">
        <%- include('../partials/nav') %>
        <%- include('../partials/flash') %>
        <%- body -%>
        <%- include('../partials/footer') %>
    </div>
    <script src="/javascripts/app.js"></script>
</body>

</html>