<% layout('layouts/boilerplate') %>
<section id="error">
    <div id="error-container">
        <div id="error-box">
            <h1>Something went wrong!</h1>
            <p>Error: <%=err.statusCode || 500 %> <%= err.message %></p>
        </div>
    </div>
</section>