<% layout('layouts/boilerplate') %>
<section id="error">
    <div id="error-container">
        <h1>Something went wrong!</h1>
        <p>Error: <%=err.statusCode%> <%=err.message%></p>
    </div>
</section>