<% layout('layouts/boilerplate') %>
<section id="home">
    <div id="home-container">
        <h1>Welcome To My To Do App!</h1>
        <p>Feel free to add your own tasks and have a play around!</p>
        <a href="/todo"><button>View To Do List</button></a>
    </div>
</section>