<% layout('layouts/boilerplate') %>
<section id="home">
    <% if (currentUser) { %>
    <h1>Hello <%= currentUser.username %>! </h1>
    <p>I hope you are enjoying the app!</p>
    <div id="home-btns">
        <a href="/todo"><button>View To Do List</button></a>
    </div>
    <% } %>
    <% if (!currentUser) { %>
    <h1>Welcome To My To Do App!</h1>
    <p>To get started you must create an account, or use a guest account.</p>
    <p>I hope you enjoy the app!</p>
    <div id="home-btns">
        <a href="/register"><button>Create An Account</button></a>
        <form action="/registerguest" method="POST">
            <button>Use Guest Account</button>
        </form>
    </div>
    <% } %>

</section>