* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(31, 31, 31);
    color: #eeeeee;
    font-family: sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:focus {
    outline: none;
}

button {
    border: none;
    color: #eeeeee;
    font-size: 1rem;
    border-radius: 10%;
}

button:hover {
    cursor: pointer;
}

.submit-btn {
    background-color: rgba(0, 151, 156, 1);
    width: 60px;
    height: 100%;
    transition: 0.1s ease-in;
}

.submit-btn:hover {
    background-color: rgb(0, 169, 175);
    transition: 0.1s ease-in;
}

.edit-btn {
    background-color: rgb(0, 153, 8);
    width: 60px;
    height: 50%;
    transition: 0.1s ease-in;
}

.edit-btn:hover {
    background-color: rgb(0, 182, 9);
    transition: 0.1s ease-in;
}

.delete-btn {
    background-color: rgba(170, 0, 34, 0.897);
    width: 60px;
    height: 50%;
    transition: 0.1s ease-in;
}

.delete-btn:hover {
    background-color: rgba(224, 0, 45, 0.897);
    transition: 0.1s ease-in;
}

.back-btn {
    background-color: rgb(179, 167, 0);
    width: 60px;
    height: 30px;
    transition: 0.1s ease-in;
}

.back-btn:hover {
    background-color: rgb(204, 190, 0);
    transition: 0.1s ease-in;
}

.priority-input {
    border: none;
    background-color: #DCDCDC;
    color: black;
    width: 80px;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.task-input {
    border: none;
    background-color: #DCDCDC;
    color: black;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

#nav {
    display: flex;
    background-color: rgb(19, 19, 19);
    height: 60px;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 999;
}

#nav-logo {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0rem 1rem 0rem;
}

#nav-logo a {
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
}

#nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}

#nav-items a {
    text-decoration: none;
    font-size: 1.2rem;
    color: rgba(0, 151, 156, 1);
    transition: 0.1s ease-in;
}

#nav-items a:hover {
    color: rgb(0, 207, 214);
    transition: 0.1s ease-in;
}

@media screen and (max-width: 768px) {
    #nav-items {
        display: none;
    }
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem;
}

#home-container h1 {
    font-size: 3rem;
}

#home-container p {
    font-size: 1.5rem;
}

#home-container button {
    background-color: rgba(0, 151, 156, 1);
    height: 60px;
    width: 200px;
    margin: 0.5rem 0 0.5rem;
    border-radius: 0%;
    font-size: 1.2rem;
    transition: 0.1s ease-in;
}

#home-container button:hover {
    background-color: rgb(0, 169, 175);
    transition: 0.1s ease-in;
}

#todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#todo h1 {
    font-size: 3rem;
}

#todo p {
    font-size: 2rem;
}

#todo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: 80%;
}

#new-inputs {
    display: flex;
}

#todo-item-container {
    display: flex;
}

#todo-item {
    display: flex;
    width: 80%;
}

#todo-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

#todo-buttons button {
    margin: 0 0.5rem 0;
}

#edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#edit h1 {
    font-size: 3rem;
}

#edit-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 80%;
    width: 80%;
}

#edit-inputs {
    display: flex;
    margin-bottom: 0.5rem;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 19, 19);
    padding: 0.5rem 0 0.5rem;
}

#footer p {
    font-size: 12px;
    color: grey;
}

#website-link {
    text-decoration: none;
    color: rgb(0, 112, 116);
    font-size: 1.2rem;
    transition: 0.1s ease-in;
}

#website-link:hover {
    color: rgb(0, 173, 179);
    transition: 0.1s ease-in;
}

#social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 180px;
    margin: 10px 0 10px;
}

#social img {
    width: 50px;
    border-radius: 50%;
    background-color: rgb(0, 112, 116);
    transition: 0.1s ease-in;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 20px 0px, rgba(0, 0, 0, 0.2) 0px 4px 10px 0px;
}

#social img:hover {
    background-color: rgba(0, 151, 156, 1);
    transition: 0.1s ease-in;
}